<!DOCTYPE html>
<html lang="en">

	<head>
	<script src="/vagrant/acorn_hours/acorn_hours/templates/js/moment.min.js "></script> 
	<script src="/vagrant/acorn_hours/acorn_hours/templates/js/jquery.js"></script> 
	<script src="/vagrant/acorn_hours/acorn_hours/templates/js/combodate.js"></script> 
	</head>
	<body>

	<h1>New Event for {{type.name}}</h1>
	
	<form action="{{url_for('newEvent', servicetype_id=type.id) }}" method = 'POST'>

	<p>Name:</p>

	<input type='text' size='30' name='name'>
	<p>Description:</p>
	<input type='text' size='30' name='description'>
	<p>Description:</p>
	<input type="text" id="datetime12" data-format="DD-MM-YYYY h:mm a" data-template="DD / MM / YYYY     hh : mm a" name="datetime" value="21-12-2012 8:30 pm">
	<script>
	$(function(){
	    $('#datetime12').combodate();  
	});
	</script>




	<input type='submit' value='Create'>

	</form>
		


	</body>
</html>