<!DOCTYPE html>
<html lang="en">
	<head>
	</head>
	<body>
			<h1>Service Types</h1>
			<a href="{{url_for('newType')}}">New Type</a>
			</br>
		</br>
			{% for i in types %}

			<div class = 'type'>
				<span class = 'name'>
				<a href ="{{url_for('showEvents', servicetype_id= i.id)}}">{{i.name}}</a>

				<span class = 'description'>
				<p>{{i.description}} </p>
				<a href ="{{url_for('deleteType', servicetype_id= i.id)}}">delete</a>
				</br>
				</br>
				<a href ="{{url_for('editType', servicetype_id= i.id)}}">edit</a>
				</br>
				</br>
				</br>
				</span>
			{% endfor %}
			</div>
	</body>
</html>