{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<h1>Edit {{etype.name}}:</h1>
	
	<form action="{{url_for('editType', servicetype_id=etype.id)}}" method = 'POST'>

	<p>Name:</p>

	<input type='text' size='30' name='name' placeholder='{{etype.name}}'>
	<p>Description:</p>
	<input type='text' size='30' name='description' placeholder='{{etype.description}}'>

	<input type='submit' value='Edit'>

	</form>

</br>
</br>

<div class="col-md-3">
	<form action="{{url_for('showTypes')}}"	>
			<input type="submit" value="Go Back" class='fsSubmitButton'>
	</form>
</div>

		
{% endblock %}
