{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      			{% if messages %}
          
       			 <ol>
      			  {% for message in messages %}
           			 <li> <strong> {{ message }} </strong> </li>
        			{% endfor %}
       			 </ol>
       			 {% endif %}
   				 {% endwith %}
   	<div class='row'>
		<div class="col-md-9">
			<h1>{{type.name}}</h1>
		</div>
		{%if 'username' in session %}
		<div class="col-md-3">
			<form action="{{url_for('newEvent', servicetype_id=type.id)}}">
				<input type="submit" value="Add an Event" class='fsSubmitButton'>
			</form>
		</div>
		{% endif %}
	</div>
	<div class='row'>
	{% for i in events %}
		<div class="col-md-5" id="type">
			<a href ="{{url_for('singleEvent', servicetype_id= i.type_id, event_id=i.id)}}">{{i.name}}</a>
			<p>{{i.description}}</p>
			{% if i.owner== user_id %}
			<a class="btn btn-default" href ="{{url_for('deleteEvent', servicetype_id= i.type_id, event_id=i.id)}}">Delete</a>
			<a class="btn btn-default" href ="{{url_for('editEvent',servicetype_id= i.type_id, event_id=i.id)}}">Edit</a>
			{% endif %}
		</div>
		

	{% endfor %}
	</div>
</br>

	<div class="row">
	<div class="col-xs-3 col-centered">
		<form action="{{url_for('showTypes')}}">
				<input type="submit" value="Go Back" class='fsSubmitButton'>
		</form>
	</div>

			
		
		
{% endblock %}